<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

This is the summary of Data Science tools and ecosystem.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

List of Data Science Languages are as follows:
    1. Python
    2. R programming Language
    3. SQL
    4. Java
    5. Scala

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

List of  Data Science Libraries:
    1. TensorFlow
    2. NumPy
    3. Matplotlib
    4. Pandas
    5. PyTorch

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

List of Data Science Tools:
    1. Excel
    2. MATLAB
    3. TABLEAU
    4. Jupyter
    5. Matplotlib

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Below are the examples of arithmetic expression:
(6+8) (7-2) (3*2)

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

This a simple arithmetic expression to add then multiply integers

In [5]:
(8+2)*6

60

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

This will convert 200 minutes to hours by dividing by 60

In [13]:
200/60

3.3333333333333335

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Below is the list of objectives : 
1) List tools for data science
2) List data science libraries
3)List Data science languages

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

Markdown cell to indicate Author's Name :

        Author
    Sagar Nepal

Exercise 12 - Share your notebook through GitHub (3 pts)